<body>
<div class="container background-stations">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-beam">
    </div>
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" id="mother-dash-link" href="/">
          <img class="brand-logo" alt="Brand" src="bs.png" >
        </a>
        <h1> Trip's Dashboard</h1>
      </div>
    </div>
  </nav>

  <div class="container container-body">
    <div class="index-button">
      <button class="btn btn-info"><span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
      <a href="/stations">View Trips</a>
      </button>
    </div>
    <div class="trip-stats container">
        <div class="row text-center first-row">
          <div class="col-md-6 first-block">
            <div class="panel panel-default panel-data">
              <div class="panel-body-t">
                <h2 class="popup popup-first blue"> average trip <strong>duration</strong> (min): </h2>
                <h3 class="trip"> <%= (@ave_duration_ride/60).round(2) %></h3>
              </div>
            </div>
          </div>
          <div class="col-md-6 second-block">
            <div class="panel panel-default panel-data">
              <div class="panel-body-t blue">
                <h2 class="popup popup-smaller"> longest ride (min) to date</h2>
                <h3 class="trip"><%= (@longest_ride/60).round(0) %></h3>
              </div>
            </div>
          </div>
        </div> <!-- first row -->
        <div class="row text-center second-row">
          <div class="col-md-6">
            <div class="panel panel-default panel-data">
              <div class="panel-body-t blue">
                <h2 class="popup popup-bigger"> shortest ride (in min) to date</h2>
                <h3 class="trip"><%= (@shortest_ride/60).round(2) %></h3>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-default panel-data">
              <div class="panel-body-t">
                <h2 class="popup popup-bigger blue"> most popular zipcode: </h2>
                <h3 class="trip"> <%= @most_frequent_zipcode %> </h3>
              </div>
            </div>
          </div>
        </div> <!-- second row -->
<!-- different from layout for stations; added divs for trips  -->
        <div class="row text-center third-row">
          <div class="col-md-6 second-block">
            <div class="panel panel-default panel-data">
              <div class="panel-body-t">
                <h2 class="popup popup-smaller blue"> favorite starting station: </h2>
                <h3 class="trip-station"> <%= @most_start_station_name.split("(")[0] %> </h3>
              </div>
            </div>
          </div>
          <div class="col-md-6 second-block">
            <div class="panel panel-default panel-data">
              <div class="panel-body-t blue">
                <h2 class="popup popup-smaller"> favorite ending station: </h2>
                <h3 class="trip-station"> <%= @most_end_station_name.split("(")[0] %> </h3>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
</body>
